
<script type="text/ng-template" id="templateUpdate">
    <div id="target"  ng-init="initModalUpdate()" ng-controller="modaleModifPersonneController" >

        <div layout="row" layout-align="center center">
            <div layout="column">
                <h1>Modifier </h1>

                <md-input-container>
                    <label>Nom</label>
                    <input type="text" ng-model="personneToUpdate.nom">
                </md-input-container>

                <md-input-container >
                    <label>Mot de passe</label>
                    <input type="text" ng-model="personneToUpdate.prenom">
                </md-input-container>

                <md-button class="md-raised md-primary" ng-click="connect()">modifier</md-button>

                {{mdr.prenom}}
                {{mdr}}

                <div ng-repeat="personne in lol  ">

                    {{personne.prenom}}


                </div>

            </div>
        </div>
    </div>
</script>
