<div ng-include src="'app/Component/header.html'" ></div>
<div ng-include src="'app/Modales/AjoutPersonne/modale.ajoutPersonne.html'" ></div>
<div ng-include src="'app/Modales/ModificationPersonne/modale.modificationPersonne.html'" ></div>

<div ng-controller="PersonneController">

    <div id="personnes">


        <md-button class="md-raised md-primary" ng-click="connect()">Ajouter personne</md-button>

        <h1> Liste de l'ensemble des personnes </h1>
        <div class="table-responsive-vertical shadow-z-1">
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>Prenom</th>
                        <th>Sessions</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                        <tr ng-repeat="personne in personnes  ">
                            <td >{{personne.id}}</td>
                            <td >{{personne.nom}}</td>
                            <td>{{personne.prenom}}</td>
                            <td >{{personne.sessions_suivies}}</td>
                            <td ><button  ng-click="openUpdateModale($index)">Modifier</button> [Supprimer}</td>
                        </tr>
                </tbody>
            </table>
        </div>

</div>